$font-url: "fonts"

@import fonts/orbitron.sass

$font-face: "sans-serif"

body
  font-family: $font-face

main, article
  margin: auto

p, pre
  text-align: justify
  text-justify: inter-word

main, article, p, img, h1, h2, h3, h4, h5
  max-width: 80ch

pre
  display: block
  overflow: auto
  padding-left: 1ch

details, header > h1, p, pre, ul, ol
  margin: 1em auto

article > details
  padding: 1em 1ch

header > h1
  font-family: "Orbitron Light"
  font-size: 2em

header, footer
  text-align: center

a, header a, header a:hover
  text-decoration: none

a:visited, summary, .abstract
  opacity: .8

a:hover
  text-decoration: underline

h1, h2, h3, h4, h5
  font-family: "Orbitron Medium"
  font-weight: 100
  margin: 2em auto 1em auto

footer
  clear: both
  margin-top: 2em
  border-top: 1px dotted
  padding: 1em 0

fieldset
  border: .5mm dashed

fieldset > p
  margin: .5em auto
  padding: .5em
  float: left

label
  margin: .2em
  display: block

input, textarea
  display: block
  border: none
  border-bottom: .5mm solid
  min-width: 100%

textarea
  border: .5mm solid
  width: 80ch
  height: 40ch
  display: block-inline
  clear: both

button
  clear: both
  display: block
  margin: 1em auto
  border: .5mm solid

.timeline
  max-width: 90ch
  margin: auto auto

.timeline > li
  position: relative
  overflow: hidden

.timeline > li time
  float: left
  width: 30%
  text-align: right
  
  padding: 0 2ch 1em 0;

.timeline > li .title
  float: left
  padding: 0 0 1em 2ch
  max-width: 60%

.topics > li
  display: inline
  margin-right: 2ch

.topics
  overflow: visible
  display: block
  clear: both
  text-align: center
